.btn {
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $background-color;
    background-color: $btn-color;
    border-radius: $border-radius-second;
    transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;

    &:hover {
        background-color: lighten($color: $btn-color, $amount: 15);
    }

    &:active {
        transform: scale(0.95);
    }

}
.btn_func {
    background-color: $btn-func-color;

    &:hover {
        background-color: lighten($color: $btn-func-color, $amount: 15);
    }
}

.btn.active {
    background-color: lighten($color: $btn-color, $amount: 15);
    transform: scale(0.95);
}

.btn_func.active {
    background-color: lighten($color: $btn-func-color, $amount: 15);
}

.backspace {
    flex: 1 0 100px;
}
.tab {
    flex: 2 0 60px;
}
.del {
    flex: 1 0 60px;
}
.caps-lock {
    flex: 1 0 100px;
}

.enter {
    flex: 1 0 100px;
}

.shift-left {
    flex: 1 0 150px;
}
.shift-right {
    flex: 1 0 50px;
}

.space {
    flex: 1 0 320px;
}
.meta {
    flex: 1 0 50px;
}
