$main-color: goldenrod;
$keyboard-background-color: rgb(190, 143, 21);
$title-color: rgb(144, 96, 6);
$background-color: bisque;
$btn-color: rgb(45, 42, 42);
$btn-func-color: rgb(62, 39, 7);
$border-radius-main: 5px;
$border-radius-second: 2px;